CLIENT_ID="test-id"
CLIENT_SECRET="test-secret"

JWT_ISSUER="synara"
JWT_AUDIENCE="synara-api"
JWT_REALM="Access to 'Synara-API'"
JWT_SECRET="<secret>"

SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

TIDAL_CLIENT_ID=""
TIDAL_CLIENT_SECRET=""

IMAGE_CACHE_URL="https://example.com"
IMAGE_CACHE_TOKEN=""